################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practical/PracticalExercise7/.vs/PracticalExercise7/v16/Browse.VC.opendb
